# Core App
streamlit==1.33.0

# Data Handling
pandas==2.2.1
numpy==1.26.4

# Cheminformatics
rdkit-pypi==2022.9.5  # for molecule parsing, SMILES, etc.

# Molecular Descriptors
mordred==1.2.0        # for descriptor calculation
scikit-learn==1.4.1   # for ML + Mordred compatibility

# Visualization
matplotlib==3.8.4
seaborn==0.13.2

# Others (Optional but useful)
joblib==1.3.2          # for saving/loading ML models
xgboost==2.0.3         # if you use it for prediction
openpyxl==3.1.2        # if working with Excel files

# Mordred compatibility
typing-extensions==4.11.0

python-3.10
